html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 17px 0px;
}

h4 {
  display: inline-block;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header ul li {
  margin: 0 35px;
}

a {
  text-decoration: none;
}

a:hover {
  transition: 0.3s;
  text-decoration: none;
}

ul li a {
  font-size: 20px;
}

form {
  text-align: center;
}

.sort {
  display: inline-block;
  margin-left: 20px;
}

.sort .btn {
  margin-left: 10px;
}

.sort-by a {
  margin: 0 10px;
}

.page-link {
  border-radius: 3px;
  margin: 0 5px;
}

.task-email,
.task-name,
.task-btn {
  display: block;
  margin: 10px auto;
  font-size: 15px;
}

.task-btn {
  resize: none;
  margin: 0 10px;
}

.add-task {
  margin-bottom: 40px;
}

.table {
  width: 90%;
  margin: 30px auto;
}

thead th {
  font-size: 19px;
  text-align: center;
}

.form-control {
  width: auto;
  margin: 15px auto;
  resize: none;
}

.sort .form-control {
  display: inline-block;
}

.text-info {
  font-size: 12px;
}

.task {
  text-align: left;
}

.center {
  text-align: center;
  margin: 0 30px;
}

.access a {
  color: white;
  background: #2cb655;
  padding: 1px 6px;
  border-radius: 3px;
  text-decoration: none;
}

.delete a {
  color: white;
  background: #a52a2a;
  padding: 1px 6px;
  border-radius: 3px;
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.sign-in {
  margin: 30px 0px;
  text-align: center;
}

.come-back {
  margin-right: 20px;
}
